* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.wrapper {
  padding: 1%;
  margin: 0% auto;

  width: 80%;
}
.text-center {
  text-align: center;
}
.footer {
  background-color: #ff5964;
  color: aliceblue;
}
.main {
  list-style-type: none;
}

.main ul li {
  display: inline;
  padding: 1%;
}
.main ul li a {
  text-decoration: none;
  font-weight: bold;
  color: #ff5964;
}
.main ul li a :hover {
  color: red;
}
.main-content {
  background-color: #f1e785;
  
  padding:2%;
}
.footer a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}
.col-4{
  width:18%;

  margin:1.5%;
  padding: 1%;
  background-color: #ffffff;
  float: left;
}
.clearfix{
  float: none;
  clear: both;
}